@model proje1.Models.Domain.Person

<div class="mt-2" style="width:50%">
    <form asp-action="Guncelle">
        <input asp-for="Id" type="hidden" class="form-control">
        <h2>Ekle Sayfa</h2>


        <div class="mb-3">
            <label asp-for="Ad" class="form-label">Ad</label>
            <input asp-for="Ad" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Ad"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Soyad" class="form-label">Soyad</label>
            <input asp-for="Soyad" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Soyad"></span>
        </div>
        <div class="mb-3">
            <label asp-for="yaş" class="form-label">yaş</label>
            <input asp-for="yaş" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="yaş"></span>
        </div>

        <div class="mb-3">
            <label asp-for="resim" class="form-label">resim</label>
            <input name="formfile" type="file" class="form-control">
            <span class="text-danger" asp-validation-for="resim"></span>
        </div>


        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/home/listele" class="btn btn-primary">Listele</a>
    </form>
</div>