<div class="card" style="width: 18rem;">
    <img src="~/resim/lena-yatak-odasi-beyaz-yatak-odasi-162862-25-b.jpg"  class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dolap</h5>
        <p class="card-text">beyaz dolap</p>
        <a href="https://www.medusahome.com.tr/lena-yatak-odasi" class="btn btn-primary">İncele</a>
    </div>
</div>




<div class="card2" style="width: 18rem;">
    <img src="~/resim/guard-new-yemek-odasi-metal-yemek-odalari-155874-24-b.jpg"  class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Masa</h5>
        <p class="card-text">Ahşap Masa</p>
        <a href="https://www.medusahome.com.tr/guess-yemek-odasi" class="btn btn-primary">İncele</a>
    </div>
</div>


<div class="card3" style="width: 18rem;">
    <img src="~/resim/mirabella-mermer-yemek-odasi-mermer-yemek-odalari-155496-24-b.jpg"   class="card-img-top" alt="..." >
    <div class="card-body">
        <h5 class="card-title">Masa</h5>
        <p class="card-text">Ahşap Masa</p>
        <a href="https://www.medusahome.com.tr/mirabella-mermer-yemek-odasi" class="btn btn-primary">İncele</a>
    </div>
</div>


<div class="card4" style="width: 18rem;">
    <img src="~/resim/puzzle-giyinme-dolabi_5c6ff87e3d868.jpg"  class="card-img-top" alt="..." >
    <div class="card-body">
        <h5 class="card-title">giyinme dolabı</h5>
        <p class="card-text">sunta giyinme dolabı</p>
        <a href="https://www.medusahome.com.tr/frida-gardirop" class="btn btn-primary">İncele</a>
    </div>
</div>



<div class="card5" style="width: 18rem;">
    <img src="~/resim/vital-yatak-odasi-beyaz-yatak-odasi-156572-24-b.jpg"  class="card-img-top" alt="..." >
    <div class="card-body">
        <h5 class="card-title"> baza</h5>
        <p class="card-text">polyester baza</p>
        <a href="https://www.medusahome.com.tr/frida-yatak-odasi" class="btn btn-primary">İncele</a>
    </div>
</div>


<div class="card6" style="width: 18rem;">
    <img src="~/resim/dsadsad.jpg"  class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"> baza</h5>
        <p class="card-text">pamuk baza</p>
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.medusahome.com.tr%2Felizabeth-luis-set-baza-baslik-yatak&psig=AOvVaw2xnysJy06CBjAGkMhFXcc_&ust=1715938351030000&source=images&cd=vfe&opi=89978449&ved=0CBIQjhxqFwoTCMj1sdDukYYDFQAAAAAdAAAAABAK" class="btn btn-primary">İncele</a>
    </div>
</div>
