<h2>İletişim bilgileri</h2>
<br />
<br />
<br />
<div class="tel">
<label>müşteri hizmetleri:</label>
<label>90+ 0551 637 9679</label>
</div>

<div class="tel1">
    <label>kurulum telefon numarası</label>
    <label>90+ 0555 678 3454</label>
</div>

<div class="tel2">
    <a href="şikayet" style="color:black;text-decoration:none;">şikayet numarası</a>
    <label>90+ 0555 143 6370</label>
</div>