@model proje1.Models.Domain.Person



<div class="mt-2" style="width:50%">
    <form asp-action="şikayet" method="post" enctype="multipart/form-data">
        <h2>şikayet</h2>
        <div class="mb-3">
            <label asp-for="Ad" class="form-label">kargoda_zarar</label>
            <input asp-for="Ad" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Ad"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Soyad" class="form-label">garantiden_yararlanma</label>
            <input asp-for="Soyad" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Soyad"></span>
        </div>
        <div class="mb-3">
            <label asp-for="yaş" class="form-label">kırılma</label>
            <input asp-for="yaş" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="yaş"></span>
        </div>

        <div class="mb-3">
            <label asp-for="resim" class="form-label">resim</label>
            <input name="formfile" type="file" class="form-control">
            <span class="text-danger" asp-validation-for="resim"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="mb-3 text-danger">
                @TempData["msg"]
            </div>
        }
        <button type="submit" class="btn btn-primary">ekle</button>
        <a href="/home/listele" class="btn btn-primary">Listele</a>
    </form>
</div>

